<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842751620236-sqc5p80805tk59klteu7v9pt3uc7dsfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842751620236-sqc5p80805tk59klteu7v9pt3uc7dsfc</string>
	<key>API_KEY</key>
	<string>AIzaSyD2uT_zx-p0zm5ND7H0NN0LQKWnisF-l_w</string>
	<key>GCM_SENDER_ID</key>
	<string>842751620236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>bump-82d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>bump-82d8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842751620236:ios:9fcb6e9fd83166105337a9</string>
</dict>
</plist>